@page "/Members"
@inject ICrudService<Member> MemberService
@using BlazorApp.Interfaces
@using BlazorApp.Models
@using BlazorApp.Components.Members
@using BlazorApp.Services

<h3>Member Management</h3>

<MemberForm OnMemberCreated="AddMember" />
<div class="border-top my-3"></div>
<MemberTable Members="@Members" />

@code {
    private List<Member> Members = new();

    protected override async Task OnInitializedAsync()
    {
        Members = (await MemberService.GetAllAsync()).ToList();

    }

    private async Task AddMember(Member Member)
    {
        var created = await MemberService.CreateAsync(Member);
        if (created is not null)
        {
            Members.Add(created);
        }
    }
}
